header{
    position: sticky;
    top: 0;
    z-index: 3;
    .navbar{
        @media screen and (max-width:960px){
            height: auto;
        }
        height: 12vh;
        .navbar__logo{
            @media screen and (max-width:480px){
                width: 18%;
            }
            @media screen and (min-width:481px) and (max-width:960px){
                width: 15%;
            }
            width: 5%;
        }
        .navbar-collapse{
            @media screen and (min-width:993px) {
                display: flex;
                flex-flow: row nowrap;
                justify-content: end;                
            }
            transition: all 500ms;
            ul{
                a{
                    background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 2px no-repeat;
                    &:hover, &:active{
                    --d:100%;
                    }
                }
            }
        }
    }
}