.swiffy-slider{
    img{
        @media screen and (max-width:992px) {
            height: 20vh;
        }
    }
}

.carousel-item{
    @media screen and (max-width:865px) {
        height: auto;
    }
    @media screen and (min-width:866px) {
        height: 86vh;
    }
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgb(0, 0, 182);
        opacity: 0.15;
    }
    .carousel-caption{
        @include flexbox(flex, column wrap, center);
        align-items: center;
        width: 40%;
        bottom: 41%;
        @media screen and (max-width:480px) {
            bottom: 23%;            
        }
        background: no-repeat scroll center scroll;
        -webkit-background-size: cover;
        background-size: cover;
        &::before{
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgb(49, 49, 49);
            opacity: 0.5;
        }
        h5{
            @media screen and (max-width:480px) {
                font-size: 1.25em;
            }
            font-size: 2.5em;
            font-weight: 500;
            opacity: 1;
            color: white;
        }
        p{
            font-size: 1.5em;
            top: 2em
        }
    }
}
.certificados{
    @media screen and (max-width:480px) {
        @include flexbox(flex, column wrap, space-between);
        align-items: center;
    }
    @include flexbox(flex, row wrap, space-around);
    img{
        width: 25%;
        @media screen and (max-width:480px) {
            width: 75%;
            margin-bottom: 1em;
        }
        @media screen and (min-width:481px) and (max-width:1076px) {
            width: 45%;
            margin-bottom: 1em;
        }
    }
}

.contactos_container{
    @media screen and (max-width:480px) {
        @include flexbox(flex, column wrap, space-around);
        align-items: center;
    }
    @include flexbox(flex, row wrap, space-around);
    .card{
        @media screen and (max-width:480px) {
            margin-bottom: 2em;
            width: 75%;
        }
        @media screen and (min-width:481px) and (max-width:1076px) {
            width: 45%;
            margin: 1em 0 1em 1em;
        }
        width: 20%;
        .card-body{
            @media screen and (max-width:480px) {
                height: 5vh;
            }
            height: 8vh;
        }
        .card-body--dias{
            @include flexbox(flex, column wrap, space-between);
            align-items: center;
        }
        .card-body{
            .icon{
                width: auto;
                background: linear-gradient(black 0 0) top /100% 5% no-repeat,
                linear-gradient(black 0 0) bottom /100% 5% no-repeat,
                linear-gradient(black 0 0) left /var(--d,0%) 100% no-repeat;
                transition: 0.5s;   
            }
        }
        &:hover{
            .card-body{
                .icon{
                    --d: 100%;
                    color: #fff;
                }
            }
        }
        .card-info{
            li{
                @media screen and (max-width:480px) {
                    font-size: 0.8em;
                }
                font-size: 0.8em;
                a{
                    text-decoration: none;    
                    color: black;
                    font-weight: lighter;
                    transition: all 500ms;
                    &:hover{
                        font-weight: bold;
                    }
                    &:visited{
                        color:black;
                    }
                }
            }
        }
    }
}