body{
    font-family: OpenSans-Regular !important;
    .header_info{
        font-size: 0.7em;
        height: 1.5em;
    }
    a{
        font-weight: bold;
        &:hover{
            transition: all 500ms;
            font-weight: bolder;
        }
    }
}