<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="../multimedia/images/logo.png">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta etiqueta description y kw -->
    <meta name="description" content="Contactate con nosotros, representantes de MWM en Argentina, Rittner Motores.">

    <!-- Meta kw -->
    <meta name="keywords" content="Mail, dirección, ubicación, correo, teléfono, Rittner, Motores">

    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Slider -->
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.5.3/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Animaciones -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

    <!-- Iconos -->
    <script src="https://kit.fontawesome.com/01c9b60a99.js" crossorigin="anonymous"></script>

    <title>Rittner Motores | Contacto</title>
  </head>
  <body>
    <div class="header_info my-o py-0 d-flex justify-content-end d-none d-md-flex">
      <p class="mx-1">✉️ claudio@rittnermotores.com.ar</p>
      <p class="mx-1">📳 4766-4668</p>
      <p class="mx-2">🗺️ José María Moreno 1951 - (1607) Villa Adelina</p>
    </div>
    <header>
        <nav class="mt-0 navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid d-flex justify-content-between">
              <a class="navbar-brand navbar__logo" href="../../index.html"><img src="../multimedia/images/logo.png" alt="logo" width="100%"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Servicios
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="./servicios.html#reparacion">Reparación de motores</a></li>
                        <li><a class="dropdown-item" href="./servicios.html#montajes">Montajes</a></li>
                        <li><a class="dropdown-item" href="./servicios.html#mantenimiento">Mantenimiento electromecánico</a></li>
                        <li><a class="dropdown-item" href="./servicios.html#mecanizados">Mecanizados</a></li>
                        <li><a class="dropdown-item" href="./servicios.html#ingenieria">Ingeniería & Asesoramiento</a></li>
                      </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./instalaciones.html">Instalaciones</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="./nosotros.html">Nosotros</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

    <div class="mt-5 mb-5">
        <div class="contactos_container">
            <div class="card" data-aos="fade-up">
                <div class="card-body mx-5 my-5 d-flex justify-content-center align-items-center">
                    <div class="icon p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-envelope card-title" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                    </svg>
                    </div>
                </div>
                <ul class="list-group list-group-flush card-info">
                  <li class="list-group-item"><a href="mailto:ventas@rittnermotores.com.ar">claudio@rittnermotores.com.ar</a></li>
                  <li class="list-group-item"><a href="mailto:claudio@rittnermotores.com.ar">personal@rittnermotores.com.ar</a></li>
                  <li class="list-group-item"><a href="mailto:administracion@rittnermotores.com.ar">administracion@rittnermotores.com.ar</a></li>
                </ul>
            </div>
            <div class="card" data-aos="fade-up">
                <div class="card-body mx-5 my-5 d-flex justify-content-center align-items-center">
                    <div class="icon p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                    </svg>
                    </div>
                </div>
                <ul class="list-group list-group-flush card-info">
                  <li class="list-group-item">+54 11 4766-4668</li>
                  <li class="list-group-item">+54 11 4766-2667</li>
                  <li class="list-group-item">+54 11 4766-2600</li>
                </ul>
            </div>
            <div class="card" data-aos="fade-up">
                <div class="card-body mx-5 my-5 d-flex justify-content-center align-items-center">
                    <div class="icon p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-pin-map-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
                            <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
                        </svg>
                    </div>
                </div>
                <ul class="list-group list-group-flush card-info">
                  <li class="list-group-item">José María Moreno 1951/85</li>
                  <li class="list-group-item">(1607) Villa Adelina</li>
                  <li class="list-group-item">Buenos Aires, Argentina</li>
                </ul>
            </div>
            <div class="card" data-aos="fade-up">
                <div class="card-body mx-5 my-5 d-flex justify-content-center align-items-center">
                    <div class="icon p-3">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>
                    </div>
                </div>
                <ul class="list-group list-group-flush card-info">
                    <li class="list-group-item">Horarios de atención:</li>
                    <li class="list-group-item">Lunes a Viernes</li>
                    <li class="list-group-item">07:00 - 16:00 hs.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="w-100">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.6899402118447!2d-58.5394291849504!3d-34.51074408048363!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb08dd8e60f51%3A0xbd2ba61170a98553!2sJos%C3%A9%20Mar%C3%ADa%20Moreno%201951%2C%20B1607BDA%20Villa%20Adelina%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1659530987522!5m2!1ses!2sar" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <footer class="d-flex justify-content-center">
        <!-- Botón subir a inicio -->
        <a class="menu__footer__item--flecha-header" data-aos="fade-up" href="#"><i class="fas fa-arrow-circle-up fs-2"></i></a>
        <p class="m-0">Diseñado por Leonel Sollazzo</p>
    </footer>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Link Animaciones -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>